@typeparam T
<EditForm FormName="@($"{typeof(T).Name}")" Enhance="true" EditContext="editContext">
    <FluentValidationValidator />

    @FormInputs(Model)

    <button type="button" class="btn btn-primary mt-2" @onclick="Submit">
        Save
    </button>
</EditForm>

@code {
    [Parameter] public required T Model { get; set; }
    [Parameter] public required RenderFragment<T> FormInputs { get; set; }
    private EditContext editContext;
    protected override void OnInitialized()
    {
        editContext = new EditContext(Model!);
        base.OnInitialized();
    }

    void Submit()
    {
        var isValid = editContext.Validate();
    }
}